section.top {
    @include padding-top(73px);

    .top {
        &-title {
            color: $black;
        }

        &-text {
            @include font-size(24px);
            @include margin-bottom(80px);
        }

        &-btn {
            @include margin-bottom(34px);
        }
    }
}

section.about {
    .about {
        &-for {
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;

            &-item {
                padding: 60px 0 100px;
            }
        }

        &-nav {
            background-color: $white;
            text-align: center;
            box-shadow: 0 -6px 12px rgba($black, 0.16);
            margin-top: -4rem;

            &-item {
                padding: 1rem;
                background-color: $white;
                position: relative;

                &:focus {
                    outline: none;
                }

                &.slick-current {
                    transform: scale(1.2);
                    box-shadow: 0 3px 6px rgba($black, 0.16);
                    z-index: 1;
                }
            }

            &-img {
                max-width: 100%;
                margin: 0 auto 0.5rem;
            }
        }
    }
}

section.clinic-type {
    padding: 140px 0;

    .clinic-type {
        &-item {
            text-align: center;
        }

        &-img {
            max-width: 100%;
            margin-bottom: 0.5rem;
        }
    }
}

section.function {
    background: url("../img/DoctorEase-iPad-Web-02-BG.png") no-repeat center
        top/100% auto;
}
section.difference {
    @include padding(80px 0);
    .difference {
        &-item {
            &-img {
                display: block;
                width: auto;
                height: 120px;
                object-fit: contain;
                margin: 0 auto 1em;
                backdrop-filter: blur(0);
            }
            &-title {
                color: $black;
                margin-bottom: 1em;
            }
        }
    }
}

section.price {
    @include padding(80px 0);
    .table {
        thead {
            tr {
                th {
                    font-weight: 500;

                    h3,
                    h4 {
                        text-align: center;
                    }
                    h3 {
                        @include font-size(20px);
                    }
                    h4 {
                        color: $body-color;
                        @include font-size(30px);
                        margin-bottom: 1em;
                    }
                    &.popular{
                        border: solid $warning;
                        border-width: 2px 2px 0;
                        position: relative;
                        &-text{
                            background-color: $warning;
                            color: $white;
                            text-align: center;
                            border: 2px solid $warning;
                        }
                    }
                }
            }
        }

        tbody {
            tr {
                th {
                    font-weight: normal;
                }

                td {
                    text-align: center;

                    .fa-check-circle {
                        color: $primary;
                    }

                    .fa-times-circle {
                        color: $warning;
                    }
                    &.popular{
                        border-left: 2px solid $warning;
                        border-right: 2px solid $warning;
                    }
                }
                &:last-child{
                    td{
                        &.popular{
                            border-bottom: 2px solid $warning;
                        }
                    }
                }
            }
        }
    }
}

section.contact {
    background-color: $primary;
    color: $white;
    @include padding(80px 0);
    img {
        vertical-align: bottom;
    }
    a {
        color: $white;
        &:hover {
            opacity: 0.5;
        }
    }
}
