section.top {
    @include padding-top(73px);

    .top {
        &-title {
            color: $black;
        }

        &-text {
            @include margin-bottom(80px);
        }

        &-btn {
            @include margin-bottom(34px);
        }
    }

    @include media-breakpoint-up(lg) {
        .top {
            &-text {
                @include font-size(24px);
            }
        }
    }
}

section.about {
    @include padding-bottom(80px);
    position: relative;
    overflow: hidden;

    .about {
        &-for {
            &-item {
                background-repeat: no-repeat;
                background-position: left center;
                background-size: auto;
                @include padding(40px 0 230px);

                @include media-breakpoint-up(lg){
                    background-position: center center;
                    background-size: cover;
                }

                h2 {
                    @include font-size(40px);
                    @include margin-bottom(150px);
                    @include media-breakpoint-down(md) {
                        @include margin-bottom(15px);
                    }
                }

                h3 {
                    @include font-size(30px);
                }

                p {
                    @include font-size(20px);
                }
            }
        }

        &-nav {
            background-color: $white;
            text-align: center;
            // box-shadow: 0 -6px 12px rgba($black, 0.16);
            margin-top: -4rem;

            &-container {
                @include media-breakpoint-down(sm) {
                    padding-left: 0;
                    padding-right: 0;
                    max-width: 100%;
                }
            }

            &-item {
                &:focus {
                    outline: none;
                }

                &.slick-current {
                    .about-nav-link {
                        position: relative;
                        border-radius: 0.25rem;
                        box-shadow: 0 6px 12px rgba($black, 0.16);
                        transform: translateY(-1em) scale(1.1);

                        &::before {
                            content: "";
                            position: absolute;
                            top: -19px;
                            left: 50%;
                            transform: translateX(-50%);
                            border-left: 20px solid transparent;
                            border-right: 20px solid transparent;
                            border-bottom: 20px solid $white;
                        }
                    }

                    .about-nav-img {
                        width: 104px;
                        height: 104px;
                        margin: 0 auto;
                    }
                }
            }

            &-link {
                @include font-size(20px);
                display: inline-block;
                @include padding(20px 30px);
                background-color: $white;
                position: relative;
                text-align: center;
            }

            &-img {
                display: block;
                margin: 0 auto;
                width: 68px;
                height: 68px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
            }

            &-receptionist {
                .about-nav-img {
                    background-image: url("../img/พนักงานต้อนรับ-1.png");
                }

                &.slick-current {
                    .about-nav-img {
                        background-image: url("../img/พนักงานต้อนรับ-2.png");
                    }
                }
            }

            &-doctor {
                .about-nav-img {
                    background-image: url("../img/แพทย์-1.png");
                }

                &.slick-current {
                    .about-nav-img {
                        background-image: url("../img/แพทย์-2.png");
                    }
                }
            }

            &-cashier {
                .about-nav-img {
                    background-image: url("../img/แคชเชียร์-1.png");
                }

                &.slick-current {
                    .about-nav-img {
                        background-image: url("../img/แคชเชียร์-2.png");
                    }
                }
            }

            &-owner {
                .about-nav-img {
                    background-image: url("../img/เจ้าของคลินิก-1.png");
                }

                &.slick-current {
                    .about-nav-img {
                        background-image: url("../img/เจ้าของคลินิก-2.png");
                    }
                }
            }

            .slick {
                &-list {
                    overflow: visible;
                }
            }
        }
    }
}

section.clinic-type {
    @include padding(80px 0);

    .clinic-type {
        &-item {
            text-align: center;
        }

        &-img {
            max-width: 80%;
            margin-bottom: 0.5rem;
        }
    }
}

section.function {
    @include padding(80px 0 0);
    background: url("../img/DoctorEase-iPad-Web-02-BG.png") no-repeat center
        top/100% auto;

    .function {
        &-list {
            padding-left: 16px;
        }
    }
}

section.difference {
    @include padding(80px 0);

    .difference {
        &-item {
            &-img {
                display: block;
                width: auto;
                height: 120px;
                object-fit: contain;
                margin: 0 auto 1em;
                backdrop-filter: blur(0);
            }

            &-title {
                color: $black;
                margin-bottom: 1em;
            }
        }
    }

    @include media-breakpoint-down(md) {
        .difference {
            &-item {
                &-title,
                &-text {
                    text-align: center;
                }
            }
        }
    }
}

section.price {
    @include padding(80px 0);
    position: relative;
    overflow-x: hidden;
    .price-table {
        position: relative;
        &-note {
            
            h3 {
                @include font-size(20px);
                span {
                    font-weight: normal;
                    
                }
            }
            br{
                display: none;
            }
            @media (min-width: 1400px) {
                position: absolute;
                top: 15%;
                right: -12%;
                text-align: center;
                h3 span{
                    margin-top: 0.5em;
                }
                br,span{
                    display: block;
                }
            }
        }
    }
    .DTFC_LeftHeadWrapper {
        > .table {
            border-left-color: transparent;
        }
    }

    .table {
        border-top-color: transparent;

        thead {
            tr {
                &.tr-popular {
                    th {
                        border-color: transparent;
                    }
                }

                th {
                    font-weight: 500;
                    border-bottom-color: #dee2e6;

                    h3,
                    h4 {
                        text-align: center;
                    }

                    h3 {
                        @include font-size(20px);
                    }

                    h4 {
                        color: $body-color;
                        @include font-size(30px);
                        margin-bottom: 1em;
                    }

                    &.popular {
                        border: solid $warning;
                        border-width: 2px 2px 1px;
                        position: relative;
                        border-bottom-color: #dee2e6;

                        &-text {
                            background-color: $warning;
                            color: $white;
                            text-align: center;
                            border: 2px solid $warning;
                        }
                    }
                }
            }
        }

        tbody {
            tr {
                th {
                    font-weight: normal;
                }

                td {
                    text-align: center;

                    .fa-check-circle {
                        color: $primary;
                    }

                    .fa-times-circle {
                        color: $warning;
                    }

                    &.popular {
                        border-left: 2px solid $warning;
                        border-right: 2px solid $warning;
                    }
                }

                &:last-child {
                    td {
                        &.popular {
                            border-bottom: 2px solid $warning;
                        }
                    }
                }
            }
        }

        tfoot {
            tr {
                th,
                td {
                    border-top-color: transparent;
                }
            }
        }
    }
}

section.contact {
    background-color: $primary;
    color: $white;
    @include padding(80px 0);

    img {
        height: 1em;
        vertical-align: baseline;
    }

    a {
        color: $white;

        &:hover {
            opacity: 0.5;
        }
    }
}
